## IDE
.idea/
.vscode
CMakeLists.txt


## build files
build/
tmp/
valgrind_logs/
cmake-build-*/
result.*
RESULT.*

oop1
*.d
*.o
*.so
*.out
*.exe


## OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
